{% extends 'base.html.twig' %}

{% block title %}
    {{ user.firstName }} {{ user.lastName }} - Profil
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mb-3 pt-3">Profil de <span class="text-info">{{ user.firstName }} {{ user.lastName }}</span></h3>
        <div class="container">

                <table class="table">
                    <tbody>
                    <tr>

                        {% if user.picture is not null %}
                            <td><img src="{{ asset('assets/image/' ~ user.picture) }}" alt="Photo de profil"></td>
                        {% else %}
                            <td>Aucune image disponible</td>
                        {% endif %}
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                    <tr> {% endif %}
                        <th>FirstName</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>LastName</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>BirthDate</th>
                        <td>{{ user.birthDate }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                    {% endif %}
                    {% if 'ROLE_DOCTOR' in user.roles %}
                        <tr>
                            <th>RPPSNumber</th>
                            <td>{{ user.RPPSNumber }}</td>
                        </tr>
                        <tr>
                            <th>CvUser</th>
                            <td>{{ user.CvUser }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>PhoneNumber</th>
                        <td>{{ user.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>UpdatedAt</th>
                            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
        </div>
        <button><a href="{{ path('app_profile_edit')}}" class="text-warning">Modifier</a></button>
    </div>


{% endblock %}
