{% extends 'base.html.twig' %}

{% block title %}
    {{ user.firstName }} {{ user.lastName }} - Profil
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mb-3 pt-3"><span class="text-info">{{ user.firstName }} {{ user.lastName }}</span> 's Profile</h3>
        <div class="container">

                <table class="table">
                    <tbody>
                    <tr>

                        {% if user.picture is not null %}
                            <td><img src="{{ asset('assets/image/' ~ user.picture) }}" alt="Photo de profil"></td>
                        {% else %}
                            <td>No images available</td>
                        {% endif %}
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                    <tr> {% endif %}
                        <th>Firstname</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>{{ user.birthDate }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><span id="password-placeholder"> {{ user.password }}</span></td>
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                    {% endif %}
                    {% if 'ROLE_DOCTOR' in user.roles %}
                        <tr>
                            <th>RPPS Number </th>
                            <td>{{ user.RPPSNumber }}</td>
                        </tr>
                        <tr>
                            <th>Doctor Cv</th>
                            <td>{{ user.CvUser }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Fone </th>
                        <td>{{ user.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <th>CreateAt </th>
                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>updatedAt</th>
                            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
        </div>
        <div>
            <button><a href="{{ path('app_profile_edit')}}" class="text-warning">Edit</a></button>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var passwordPlaceholder = document.getElementById('password-placeholder');
            passwordPlaceholder.textContent = ''; // Remplacer le texte par une chaîne vide
        });
    </script>
{% endblock %}