{% extends "base.html.twig" %}

{% block title %}Consultation en ligne{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h3 class="display-5">Consultation <span class="text-info">en Ligne</span></h3>
    </div>

    <!-choix patients et specialites -->

    <div class="container">

        <!-- Filtres -->
        {#<div class="row mb-4">
            <div class="col-md-4">
                <label>
                    <select id="specialite" class="form-control m-3">
                        <option value="">Spécialité</option>
                        <option value="orthophoniste">Orthopédiste</option>
                        <option value="dentiste">Dentiste</option>
                        <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <select id="ville" class="form-control m-3">
                        <option value="">Ville</option>
                        <option value="paris">Paris</option>
                        <option value="lyon">Lyon</option>
                        <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                </label>
            </div>
            <div class="col-md-5">
                <button id="btn-filtrer" class="btn btn-info">Filtrer</button>
            </div>
        </div>#}
        
    </div>


    <!-- Ajoutez cartes pour médecins ici -->


    <div class="container mb-5">
        <div class="row">
            <h1 class="display-6 text-info mb-5 text-center">Choisissez un spécialiste</h1>
            {% for doctor in doctors %}
                <div class="col-sm text-center">
                <div class="card h-100 border-2 border-info">
                    <div class="card-body">
                        <h5 class="card-title">Doct. {{ doctor.user.firstName }} <span class="text-info">{{ doctor.user.lastName }}</span></h5>
                        <p class="card-text text-info">{{ doctor.speciality.specialityName }}</p>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/langues.png') }}" class="img-fluid w-75" alt="Image">
                            </div>
                            <div class="col-md-9">
                                <p class="text-left">Langues parlées: {{ doctor.languages }}</p>
                            </div>
                        </div>
                        <p class="card-text">Appelez-moi au <a href="tel:{{ doctor.user.phoneNumber }}">{{ doctor.user.phoneNumber }}</a>.</p>
                        <!--Prendre rdv -->
                        <div>
                            <a href="{{ path('app_appointment_new', {'id' : doctor.id}) }}" class="btn btn-info">Prendre un rendez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


