{% extends "base.html.twig" %}

{% block title %} ici ma Page A propos{% endblock %}


{% block body %}
    <!--Section Header-->


    <div class="container">
        <!--Jumbotron-->
        <div class="row">
            <div class="jumbotron col-md-4 mr-lg-5 mr-5">
                <h1 class="display-5 text-info">Qui sommes-nous?</h1>
                <p class="lead">Sample of a card UI style. here is a text for the headline..</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <div class="jumbotron col-md-12 mr-lg-5 mr-5" >
                    <img src="{{ asset('assets/images/galerie/equipe2.jpg') }}" class="img-thumbnail h-100 w-100" alt="...">
                </div>
            </div>
            <div class="container">
                <div class="flex-column m-2">
                    <div class="col-sm text-center">
                        <div class=" h-50 mb-3 border-info">
                            <img class="img-thumbnail teams w-50" src="{{ asset('assets/images/galerie/Equipe1 (2).jpg') }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <div class=" h-50 mb-3 border-info">
                            <img class="img-thumbnail teams w-50" src="{{ asset('assets/images/galerie/equipe3.jpg') }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <div class=" h-50 border-2 border-info">
                            <img class="img-thumbnail teams w-50" src="{{ asset('assets/images/galerie/equipe4.jpg') }}" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Carroussel-->

    <div class="container mt-4">

        <h1 class="display-5 mb-4 text-info text-center">Galérie photos</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('assets/images/galerie/equipe2.jpg') }}" class="img-thumbnail d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/images/galerie/img_galerie3.jpg') }}" class="img-thumbnail d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/images/galerie/equipe3.jpg') }}" class="img-thumbnail d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/images/galerie/equipe4.jpg') }}" class="img-thumbnail d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>



{% endblock %}


