{% extends 'base.html.twig' %}

{% block title %}Ma liste Rdv{% endblock %}

{% block body %}
    <h3 class="text-justify">mes<span class="text-info">Rdv</span></h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Place</th>
                <th>ScheduledDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.place }}</td>
                <td>{{ appointment.scheduledDate ? appointment.scheduledDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}" class="text-info">Voir</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}" class="text-bg-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Créer un nouveau rdv</a>
{% endblock %}
